<div class="clock">
	<p class="hours">12</p>
	<p class="colon">:</p>
	<p class="minutes">00</p>
	<p class="ampm">am</p>
</div>

<script >
	const hours = document.querySelector('.hours');
	const colon = document.querySelector('.colon');
	const minutes = document.querySelector('.minutes');
	const ampm = document.querySelector('.ampm');
	
	function updateTime() {
		let rightNow = Date.now();
		hours.innerHTML = rightNow.toLocaleString('h');
		minutes.innerHTML = rightNow.toLocaleString('m');
	}
</script>
