---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>

    

    <main>

      {{ content }}

    </main>

    

  </body>

</html>
